requests>=2.25
beautifulsoup4>=4.9
python-dotenv>=0.19
gspread>=3.6
oauth2client>=4.1
babel>=2.9
certifi>=2020.12
charset-normalizer>=2.0
idna>=3.2
python-http-client>=3.3
sendgrid>=6.5
soupsieve>=2.2
ecdsa>=0.16  # Suponho que você quis dizer "ecdsa" ao invés de "starbank-ecdsa", que não parece ser um pacote conhecido
urllib3>=1.26
