pandas==2.2.2
requests==2.32.3
urllib3==2.2.3
beautifulsoup4==4.12.3

gspread==6.1.2
google-auth==2.35.0
gspread-dataframe==3.3.1
google-genai>=1.0.0,<2.0.0
brevo-python==1.1.2
backports.zoneinfo==0.2.1 ; python_version < "3.9"
sib-api-v3-sdk>=7.6.0
